* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 16px;
    margin-right: 16px;
}

.navigation {
    margin-bottom: 16px;
    margin-left: 0px;

}

h1 {
    margin-bottom: 16px;
}